<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Verification</title>
  <style>
    .logo-container {
      text-align: center;
      margin-bottom: 20px;
    }

    .logo-container img {
      max-width: 100px;
    }

    body {
      font-family: Arial, sans-serif;
      color: #333;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .section {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #007bff;
      font-size: 24px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
    }

    .verification-link {
      display: inline-block;
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      font-size: 18px;
      border-radius: 5px;
      margin-top: 20px;
    }

    footer {
      margin-top: 20px;
      font-size: 14px;
      color: #666;
    }
  </style>
</head>

<body>
  <div class="section">
    <div class="logo-container">
      <a href="https://payout.minetxc.com" target="_blank">
        <img src="https://minetxc.com/images/texit_logo_v4.png" alt="Texitcoin" />
      </a>
    </div>
    <div class="container">
      <h1>Verify Your Email Address</h1>
      <p>Hello {{name}},</p>
      <p>Thank you for signing up with Texitcoin! Please verify your email address by clicking the link below:</p>
      <a class="verification-link" ses:no-track href="{{{verificationLink}}}">Verify Email</a>
      <p>If the button doesn't work, you can also verify your email by pasting the following link into your browser:</p>
      <p>{{verificationLink}}</p>
      <footer>
        <p>Thank you,</p>
        <p>The Texitcoin Team</p>
      </footer>
    </div>
  </div>
</body>

</html>